{% extends "clientes/base.html" %}

{% block content %}
<div class="wrapper">
    <div class="card home-card">
        <div class="card-header">
            <h1 class="title">FUNCIONAMIENTO DEL SISTEMA</h1>
            <br>
            <p> <strong>OPCIONES/MODULOS:</strong></p>
            <p>LADO IZQUIERDO DEL SISTEMA TIENE LA BARRA DE NAVEGACION MANEJESE CON ESTA BARRA PARA ACCEDER A LAS DISTINTAS FUNCIONALIDADES DEL SISTEMA
            </p>
            <h1 class="title">Instrucciones :</h1>
            <p> <strong>LISTA DE CLIENTES , CAMION:</strong></p>
            <p>EN ESTE APARTADO VERA TODOS LOS CLIENTES , CAMIONES CON SU RESPECTIVA INFORMACION.</p>
            <br>
            <p> <strong>AGREGAR:</strong></p>
            <p>PRESIONE ESTE BOTON SI QUIERE AGREGAR UN CLIENTE , CAMION , TRABAJADOR , COMPLETE LOS CAMPOS CORRESPONDIENTES
                Y PRESIONE GUARDAR , 
                SERA REDIRIGIDO HACIA LA LISTA DE CLIENTES DONDE SE VERA REFLEJADO SU NUEVO REGISTRO DE CLIENTE AGREGADO.</p>
            <br>
            <p> <strong>EDITAR:</strong></p>
            <p>EN CADA REGISTRO EN LA LISTA DE CLIENTES , TRABAJADORES POR EMPRESA , CAMIONES  HAY UN BOTON QUE DICE EDITAR , 
                PRESIONE ESTE BOTON SI QUIERE EDITAR LOS RESGITROS DE ALGUN CLIENTE YA EXISTENTE EN LA LISTA, UNA VEZ EDITADO PRESIONE
            GUARDAR Y SU CAMBIO SE VERA REFLEJADO EN LA LISTA</p>
            <br>
            <p> <strong>ELIMINAR:</strong></p>
            <p>EN CADA REGISTRO ADEMAS DEL BOTON DE EDITAR ENCONTRAMOS UNO QUE DICE ELIMINAR ,
                ESTE BOTON AL PRESIONARLO MUESTRA UN MENSAJE EL CUAL LE PIDE CONFIRMAR SI USTED QUIERE ELIMINAR EL
                CLIENTE EL CUAL HAYA SELECCIONADO PARA ELIMINAR , SI USTED CONFIRMA EL REGISTRO SERA ELIMINADO PERMANENTEMENTE,
                SI PRESIONA CANCELAR VOLVERA A VISUALIZAR LA LISTA SIN HABER BORRADO EL REGISTRO </p>
            <br>
            <p> <strong>HACER COTIZACION:</strong></p>
            <p>ADEMAS DE EDITAR Y ELIMINAR , 
                ENCONTRAMOS ESTE BOTON EN LA LISTA DE CLIENTES EN CADA REGISTRO, AL PRESIONARLO DEBERA LLENAR LOS CAMPOS DE AGREGAR ITEMS , 
                LOS ITEMS AGREGADOS SE IRAN VISUALIZANDO EN UNA TABLA ABAJAO DE TODAS LOS CAMPOS , PODRA ELIMINARLOS SI DESEA PRESIONANDO EL BOTON
                ELIMINAR A LA DERECHA EN LA TABLA , LUEGO DE HABER AGREGADO AL MENOS UN ITEM , DEBE PONER LA FECHA DE VALIDEZ DE LA COTIZACION Y ELEGIR 
                SEGUN LA EMPRESA , PRESIONE EL BOTON CREAR COTIZACION Y SE DIRIGE A UNA VISTA DONDE EN LA PARTE DE ABAJO DICE DESCARGAR PDF,
                PRESIONE EL BOTON Y SE DESCARGARA EL PDF CON LOS DATOS QUE USTED ESCRIBIO EN LOS DISTINTOS CAMPOS.</p>
            <br>
            <p> <strong>EDP(ESTADOS DE PAGO):</strong></p>
            <p>ESTE APARTADO SE ENCUENTRA AL LADO DE HACER COTIZACION EN EL LISTADO DE CLIENTES , 
            PRESIONE ESTE BOTON SI QUIERE REALIZAR UN ESTADO DE PAGO, 
            AL PRESIONAR ESTE BOTON USTED TENDRA QUE AGREGAR ITEMS AL IGUAL QUE EN LA OPCION DE HACER COTIZACION,AL TERMINAR DE AGREGAR LOS ITEMS ,
            POSTERIORMENTE DEBERA DE RELLENAR LOS CAMPOS DE CREAR ESTADO DE PAGO Y SELECCIONAR EL TIPO DE EMPRESA.
            LA OPCION DE UF A PESOS CHILENOS MUESTRA EL VALOR UNITARIO EN UF PERO EL TOTAL DE LOS ITEMS EN PESOS CHILENOS,
            CON EL VALOR DE LA UF AL DIA , LA OPCION DE SOLO PESOS CHILENOS NO HACE ESTA CONVERSION.</p>
            <br>
            <p> <strong>VER DOCUMENTOS (TRABAJADORES , CAMIONES)</strong></p>
            <p>ESTE APARTADO LO TIENE SOLO LOS TRABAJADORES , CAMIONES, ACA SE VERA LOS DOCUMENTOS QUE TIENE CADA REGISTRO , 
                SE PUEDEN ELIMINAR , PERO SE ELIMINARAN PERMANENTEMENTE DEL REGISTRO ASOCIADO.
            </p>
             <br>
            <p> <strong>LISTA DE EMPRESAS:</strong></p>
            <p>ESTA LISTA MUESTRA TODAS LAS EMPRESAS MIXNOW , INVERLAND , ARIDOS , VALENTINO VENEGAS 
                Y EXTRABAJADORES , SE HACE CLICK EN EL BOTON ROJO DONDE DICE VER TRABAJADORES , 
                PODRA VER LOS TRABAJADORES QUE CORRESPONDEN A ESA EMPRESA CON SU NOMBRE Y DOCUMENTOS.
            </p>
             <br>
            <h2 class="title">NO OLVIDAR CERRAR SESION SIEMPRE AL SALIR DEL SISTEMA POR SEGURIDAD</h2>
            <br>
        </div>
    </div>
</div>

<style>
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 2rem;
    font-family: 'Poppins', sans-serif;
    background-color: #111;
}

.card.home-card {
    background-color: #111;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 2rem;
    width: 100%;
    max-width: 600px;
    box-shadow: 4px 4px #fff;
    text-align: center;
    color: #fff;
}

.card-header {
    margin-bottom: 1.5rem;
}

.title {
    font-size: 2rem;
    font-weight: 700;
}

.card-body p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: #ccc;
}

.btn {
    padding: 0.4rem 0.8rem;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #ffffffff;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s;
    font-family: 'Poppins', sans-serif;

}

.btn:hover {
    background-color: #fff;
    color: #111;
    box-shadow: 2px 2px #fff;
}
</style>
{% endblock %}
